<h1>New tweet</h1>

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <%= render "form", tweet: @tweet %>

    <div>
      <%= link_to "Back to tweets", tweets_path %>
    </div>

  </div>
</div>
